    <div class="popup-content">
      <span id="close-btn" class="close-btn">&times;</span>

      <!-- Logo Section -->
      <div class="logo">
        <a href="index.html">
        <img src="img/icons/CREAM.svg" alt="Logo Cream Estudio">
      </a>
      </div>

      <section>
        <h1 id="contact-us">CONTACT US</h1>
        <p id="contact-subtitle">Get in touch! Call us, follow us, email us!</p>
      </section>
      <!-- Location Section -->
      <section>
        <div class="contact-where">
          <img src="img/icons/pin2.png" alt="Location Cream Estudio" class="pin-icon">
          <h2 id="where">WHERE WE ARE</h2>
      </div>
        <address>
          <p id="contact-address">
            <a href="https://maps.app.goo.gl/Wgg1jaa7RAPVtiwy9?" target="_blank">
              Carrer Barcelona 20 local<br>
              08940 Cornellà de Llobregat (BARCELONA)
            </a>
          </p>
        </address>
      </section>

      <!-- Commissions Section -->
      <section>
        <h2 id="contact-subtitle2">COMMISSIONS</h2>
        <p id="contact-text">For commissions and projects, please contact us and tell us how you would like to live, work, and create...
        </p>
        <p><a href="mailto:info@creamestudio.com">info@creamestudio.com</a></p>
      </section>

      <!-- Jobs and Career Section -->
      <section>
        <h2 id="contact-subtitle3">JOBS AND CAREERS</h2>
        <p id="contact-jobs">Please send your CV and portfolio (max 8MB) if you consider CREAM a potential architectural firm for your
          career. We would love to meet you!</p>
        <p><a href="mailto:jobs@creamestudio.com">jobs@creamestudio.com</a></p>
      </section>

      <!-- Press and Publications Section -->
      <section>
        <h2 id="contact-subtitle4">PRESS AND PUBLICATIONS</h2>
        <p id="contact-press">If you would like to discuss a press enquiry, please contact the PR department.</p>
        <p><a href="mailto:media@creamestudio.com">media@creamestudio.com</a></p>
      </section>

      <!-- Contact Numbers Section -->
      <section>
        <h2 id="contact-end">CONTACT</h2>
        <p>T: +34 93.14.13.627</p>
        <p>M: +34 684.30.69.00 – +34 699.81.60.93</p>
      </section>
    </div>