<footer class="footer">
    <div class="footer-left">
      <p id="copyright">© 2025 Cream Estudio, all rights reserved</p>
      <div class="social-media">
        <a href="https://www.instagram.com/cream_estudio/">
          <img src="img/icons/iconos1-01.png" class="icon" alt="Instagram Cream Estudio">
        </a>
        <a href="https://www.linkedin.com/company/creamestudio/?originalSubdomain=es">
          <img src="img/icons/iconos1-02.png" class="icon" alt="LinkedIn Cream Estudio">
        </a>

      </div>
    </div>
    <div class="footer-right">
      <p id="contact-btn">Contact us</p>
    </div>
  </footer>
