<div class="images-container2">
    <div class="image-left">
      <img src="assets/img/container-1.jpg" alt="Cream Lights image" onclick="openFullscreen(this)">
    </div>
    <div class="image-right">
      <img src="assets/img/container-2.jpg" alt="Cream Lights image" onclick="openFullscreen(this)">
    </div>
  </div>
  <div id="fullscreen-container" class="fullscreen-container">
    <button class="close-btn" onclick="closeFullscreen()">✕</button>
    <img id="fullscreen-image" src="" alt="Cream Lights big image">
  </div>
  <div class="caption">
    <p class="caption-text">Studio Tuli Photography</p>
  </div>
</div>